@charset "UTF-8";
/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #7A88F2;
  font-family: "Butterfly Kids";
  font-weight: 800;
  font-style: bold;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 30px;
}

p, label {
  color: #010730;
  font-size: 18px;
}

span {
  color: #7A88F2;
}

hr {
  color: #7A88F2;
  margin-bottom: 10px;
}

/* Navbar */
.logo img {
  height: 70px;
  width: auto;
  margin-left: 30px;
}

/* Footer */
footer {
  background-color: rgba(122, 136, 242, 0.0666666667);
}
footer .footer {
  display: flex;
}
footer .footer .footer-logo {
  width: 20%;
  text-align: center;
}
footer .footer .footer-logo img {
  width: auto;
  height: 60px;
}
footer .footer .footer-menu {
  text-align: center;
  width: 60%;
}
footer .footer .footer-menu a {
  text-decoration: none;
  color: #2F4EA6;
}
footer .footer .footer-menu a:hover {
  color: #010730;
}
footer .footer .footer-menu li {
  display: inline-block;
  padding: 20px 10px;
}
footer .footer .footer-redes {
  width: 20%;
  text-align: center;
  padding: 20px;
}
footer .footer .footer-redes a {
  text-decoration: none;
  color: #010730;
}
footer .derechos {
  text-align: center;
  padding-bottom: 20px;
}

/* Página Inicio */
/* Página Inicio */
.nosotros {
  height: 500px;
}
.nosotros .nosotros-img {
  background-image: url("../assets/header.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.nosotros .nosotros-img .texto {
  width: 50%;
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nosotros .nosotros-img .texto h1 {
  margin-top: 50px;
}
.nosotros .nosotros-img .texto p {
  margin-top: 20px;
}

.planes .texto {
  width: 60%;
  padding: 40px;
}
.planes .materias {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  transition: transform 2s;
}
.planes .materias img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.planes .materias img:hover {
  transform: rotate(350deg);
}
.planes .materias p {
  margin-top: 20px;
}
.planes .materias .mat {
  width: 30%;
  padding: 0px 10px;
}
.planes .materias .reg {
  width: 30%;
  padding: 0px 10px;
}
.planes .materias .idioma {
  width: 30%;
  padding: 0px 10px;
}

.testimonio {
  background-color: rgba(220, 249, 215, 0.3019607843);
}
.testimonio i {
  margin-bottom: 20px;
  color: #010730;
}
.testimonio .texto {
  width: 60%;
  padding: 40px;
}
.testimonio .testim {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.testimonio .testim .testi1 {
  width: 40%;
}
.testimonio .testim .testi2 {
  width: 40%;
}

.contacto {
  display: flex;
}
.contacto .contacto-text {
  width: 50%;
  padding: 40px;
}
.contacto .contacto-text p {
  margin-top: 20px;
}
.contacto form {
  width: 50%;
  padding: 40px;
}

/*Página Nosotros*/
.informacion-contacto .info .direccion p, .informacion-contacto .info .wp p, .informacion-contacto .info .email p {
  text-align: justify;
  margin: 20px 0px;
}

/*Página Nosotros*/
.descripcion {
  display: flex;
  height: 400;
  margin-top: 30px;
  justify-content: space-around;
}
.descripcion .des-text {
  width: 50%;
  padding: 40px;
}
.descripcion .des-text p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.descripcion .des-text .dif {
  display: flex;
  justify-content: space-around;
}
.descripcion .des-text .dif span {
  font-size: 24px;
  font-weight: bold;
}
.descripcion .des-img {
  background-image: url("../assets/potencial.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
}

.tutores {
  padding: 20px;
}
.tutores .texto {
  display: grid;
  place-items: center;
  padding: 40px;
}
.tutores .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tutores .info h3 {
  text-align: center;
}
.tutores .info img {
  background-color: #333;
  height: auto;
  width: 50%;
  margin-bottom: 30px;
  border-radius: 20%;
}
.tutores .info p {
  margin-top: 20px;
}
.tutores .info .mat {
  display: ruby;
  width: 30%;
}
.tutores .info .reg {
  display: ruby;
  width: 30%;
}
.tutores .info .idioma {
  display: ruby;
  width: 30%;
}

/* Página Servicios*/
/* Página Servicios*/
.servicios {
  padding: 30px;
  text-align: center;
}
.servicios p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.servicios .servicios-servicio {
  display: flex;
  justify-content: space-between;
}
.servicios .servicios-servicio .card {
  width: 30%;
  margin-bottom: 10px;
}
.servicios .servicios-servicio .card:hover {
  transform: scale(1.1);
}
.servicios .servicios-servicio img {
  background-color: #333;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
}

/*Página Precios*/
/*Página Precios*/
.pago {
  padding: 30px;
  text-align: center;
}
.pago p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.pago p .izq {
  text-align: start;
}
.pago .pago-clase {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.pago .elegir {
  margin-bottom: 10px;
}
.pago .elegir a {
  text-decoration: none;
  color: black;
  border: solid 1px #7A88F2;
}
.pago .elegir .select {
  background-color: #7A88F2;
  color: #fff;
}

/*Contacto*/
.informacion-contacto .info .direccion p, .informacion-contacto .info .wp p, .informacion-contacto .info .email p {
  text-align: justify;
  margin: 20px 0px;
}

/*Contacto*/
.informacion-contacto {
  padding: 40px;
}
.informacion-contacto .texto {
  text-align: center;
  margin-bottom: 60px;
}
.informacion-contacto .info {
  display: flex;
  justify-content: space-around;
}
.informacion-contacto .info .email {
  text-align: center;
  width: 33%;
  padding: 20px;
}
.informacion-contacto .info .wp {
  text-align: center;
  width: 33%;
  padding: 20px;
}
.informacion-contacto .info .direccion {
  text-align: center;
  width: 33%;
  padding: 20px;
}
.informacion-contacto .info i {
  color: #010730;
  font-size: 40px;
  margin-bottom: 20px;
}

/*Responsive*/
.informacion-contacto .info .email p, .informacion-contacto .info .wp p, .informacion-contacto .info .direccion p {
  text-align: justify;
  margin: 20px 0px;
}

/* Responsive General Footer*/
@media (max-width: 320px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-logo {
    width: 100%;
    text-align: center;
  }
  .footer .footer-logo img {
    width: auto;
    height: 80px;
  }
  .footer .footer-menu {
    text-align: center;
    width: 100%;
  }
  .footer .footer-menu ul {
    flex-wrap: wrap;
    padding: 0px;
  }
  .footer .footer-menu li {
    width: 100%;
    padding: 20px 10px;
  }
  .footer .footer-redes {
    width: 100%;
    text-align: center;
  }
  .footer .footer-redes a {
    padding: 20px;
    font-size: 20px;
  }
}
/* responsive Inicio */
@media (max-width: 690px) {
  .nosotros {
    height: auto;
  }
  .nosotros .nosotros-img {
    background-image: none;
    background-color: rgba(122, 136, 242, 0.3137254902);
  }
  .nosotros .nosotros-img .texto {
    align-items: center;
    width: 100%;
    padding: 40px;
  }
  .planes {
    display: flex;
    flex-wrap: wrap;
  }
  .planes .texto {
    width: 100%;
    padding: 40px;
  }
  .planes .materias {
    display: flex;
    flex-wrap: wrap;
  }
  .planes .materias .mat {
    width: 50%;
    padding: 40px;
  }
  .planes .materias .reg {
    width: 50%;
    padding: 40px;
  }
  .planes .materias .idioma {
    width: 50%;
    padding: 40px;
  }
  .testimonio {
    display: flex;
    flex-wrap: wrap;
  }
  .testimonio .texto {
    width: 100%;
    padding: 40px;
  }
  .testimonio .testim {
    display: flex;
    flex-wrap: wrap;
  }
  .testimonio .testim .testi1 {
    width: 100%;
    padding: 40px;
  }
  .testimonio .testim .testi2 {
    width: 100%;
    padding: 40px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
  }
  .contacto .contacto-text {
    width: 100%;
    padding: 40px;
  }
  .contacto .contacto-text p {
    margin-top: 20px;
  }
  .contacto form {
    width: 100%;
    padding: 40px;
  }
}
@media (max-width: 320px) {
  .nosotros {
    height: 500px;
  }
  .planes .materias {
    display: flex;
    flex-wrap: wrap;
  }
  .planes .materias .mat {
    width: 100%;
    padding: 40px;
  }
  .planes .materias .reg {
    width: 100%;
    padding: 40px;
  }
  .planes .materias .idioma {
    width: 100%;
    padding: 40px;
  }
}
/* responsive Nosotros */
@media (max-width: 690px) {
  .descripcion {
    display: contents;
    flex-wrap: wrap;
  }
  .descripcion .des-text {
    width: 100%;
    padding: 40px;
  }
  .descripcion .des-img {
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }
  .tutores .texto {
    display: grid;
    place-items: center;
    padding: 40px;
  }
  .tutores .info {
    display: flex;
    flex-wrap: wrap;
  }
  .tutores .info .mat {
    display: ruby;
    width: 50%;
  }
  .tutores .info .reg {
    display: ruby;
    width: 50%;
  }
  .tutores .info .idioma {
    display: ruby;
    width: 50%;
  }
  .tutores .info img {
    background-color: white;
    width: 100%;
    padding: 40px;
  }
}
@media (max-width: 320px) {
  .tutores .info {
    display: flex;
    flex-wrap: wrap;
  }
  .tutores .info .mat {
    display: ruby;
    width: 100%;
  }
  .tutores .info .reg {
    display: ruby;
    width: 100%;
  }
  .tutores .info .idioma {
    display: ruby;
    width: 100%;
  }
}
/* responsive Servicios */
@media (max-width: 690px) {
  .servicios {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios .servicios-texto {
    width: 100%;
    padding: 40px;
  }
  .servicios .servicios-servicio {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios .servicios-servicio .card {
    width: 45%;
  }
}
@media (max-width: 320px) {
  .servicios .servicios-servicio {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios .servicios-servicio .card {
    width: 90%;
  }
}
/* responsive contacto */
@media (max-width: 690px) {
  .contacto {
    display: flex;
    flex-wrap: wrap;
  }
  .contacto .contacto-text {
    width: 100%;
    padding: 40px;
  }
  .contacto .contacto-text p {
    margin-top: 20px;
  }
  .contacto form {
    width: 100%;
    padding: 40px;
  }
  .informacion-contacto {
    padding: 40px;
  }
  .informacion-contacto .texto {
    text-align: center;
    margin-bottom: 60px;
  }
  .informacion-contacto .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .informacion-contacto .info .email {
    text-align: center;
    width: 50%;
    padding: 20px;
  }
  .informacion-contacto .info .wp {
    text-align: center;
    width: 50%;
    padding: 20px;
  }
  .informacion-contacto .info .direccion {
    text-align: center;
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 320px) {
  .informacion-contacto .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .informacion-contacto .info .email {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .informacion-contacto .info .wp {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .informacion-contacto .info .direccion {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
